
.block {
    position: relative;
    padding: 1vw;
    margin: 0 auto;
    max-width: 300px;
}
.backgroundLine {
    position: absolute;
    background: #B92C25;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;

}
.navWrapper {
    position: absolute;
    top: 0;
    right: 2vw;
}
.link {
    position: absolute;
    left: -9px;
    top: 6px;
    height: 19px;
    cursor: pointer;
    z-index: 1;

}
.imgLink {
    width: 55px;
    height: auto;
}
.wrapperBlock {

    background-size: contain;
}
.wrapperBlock h2 {
    position: relative;
    margin: 5px;
    font-size: 14px;
    color: #B92C25;

}
.wrapperBlock p {
    position: relative;
    font-size: 12px;
    text-indent: 25px;
    text-align: justify;

}
.optionsParamBlockWrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.textBlockWrapper {
    position: relative;
    text-align: left;
}
.textBlockWrapper h3 {
    margin: 0;
    font-size: 14px;
    color: #B92C25;


}
.textBlockWrapper p {
    font-size: 12px;
    text-align: left;
    text-indent: 0;
    color: #000;
    margin: .7vw 0;

}
.subTitle {
    font-weight: bold;
}
.img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
}
.img2 {
    position: absolute;
    top: 0;
    width: auto;
    height: 30vw;
}









