
.block {
    position: relative;
    padding: 1vw;
    margin: 0 auto;
    max-width: 85vw;
}
.backgroundLine {
    position: absolute;
    background: #B92C25;
    width: 5vw;
    height: 4.3vw;
    top: -1vw;
    right: 1.5vw;

}
.navWrapper {
    position: absolute;
    top: 0;
    right: 2vw;
}
.link {
    position: absolute;
    left: 0;
    top: 2%;
    cursor: pointer;
    z-index: 1;
    height: 1.7vw;
    /*border-bottom: #B92C25 1px solid;*/
}
.imgLink {
    width: 8vw;
    height: auto;
}
.wrapperBlockFrez {
    /*background: url(../../assets/imgs/frezer.png) no-repeat center;*/
    background-size: contain;
}
.wrapperBlock h2 {
    position: relative;
    margin: .2vw;
    font-size: 2.9vw;
    color: #B92C25;

}
.wrapperBlock p {
    position: relative;
    font-size: 1.7vw;
    text-indent: 7%;
    text-align: justify;

}
.optionsParamBlockWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.textBlockWrapper {
    position: relative;
    text-align: left;
}
.textBlockWrapper h3 {
    margin: 0;
    font-size: 1.7vw;
    color: #B92C25;
    height: 4vw;
    line-height: 2vw;
}
.textBlockWrapper p {
    font-size: 1.5vw;
    text-align: left;
    text-indent: 0;
    color: #000;
    line-height: 1.7vw;
    margin: .7vw 0;
    height: 3vw;
}
.subTitle {
    font-weight: bold;
}
.img {
    position: relative;
    width: auto;
    height: 30vw;

    top: 0;
}
.img2 {
    position: absolute;
    top: 0;
    width: auto;
    height: 30vw;
}
