
@font-face {
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-family: 'Poppins-Regular';
}

body {
  margin: 0;
  font-family: 'Poppins-Regular', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


